 <!-- form handling -->
 <form action="POST" method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="Name" class="text-light">Book ID</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="bookid" value="" placeholder="Harry Potter">
        </div>
        <div class="form-group">
            <label for="Name" class="text-light">Book Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="bookname" value="" placeholder="Harry Potter">
        </div>
        <div class="form-group">
            <label for="Author" class="text-light">Author Name</label>
            <input type="text" name="authorname" value="" placeholder=" J. K. Rowling">
        </div>
        <div class="form-group">
            <label for="Price" class="text-light">Book Price</label>
            <input type="text" name="bookprice" value="" placeholder="500">
        </div>
        <div class="form-group">
            <label for="publisheddate" class="text-light">Published Date</label>
            <input type="date" name="publisheddate" value="" >
        </div>
        <!-- <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" >
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female" >
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" >
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive" >
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div> -->

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>